In [18]:
# from astropy.io import fits
import numpy as np
import matplotlib.pyplot as plt
from astropy.io import fits
from matplotlib.ticker import (MultipleLocator, AutoMinorLocator)
import pandas as pd

hunt = pd.read_csv('Data\\Hunt\\huntfile.csv')
khar = pd.read_csv('Data\\Kharchenko\\kharchenkofile.csv')
dias = pd.read_csv('Data\\Dias\\diasfile.csv')
xmatch = pd.read_csv('Data\\Hunt\\xmatchfile.csv')

diasnamearr = np.asarray(dias.Cluster)

In [19]:
#crossmatch
dias_xm = xmatch.query('SourceCat == "Dias+02"').dropna(subset=['Sep']) #Get crossmatch table with seperation=NaN removed

dias_xm

,ID,NameLit,SourceCat,TypeSourceCat,Sep,SepTidal,SepTidalLit,SepTidalData,pmRASep,pmRASigma,pmDESep,pmDESigma,PlxSep,PlxSigma,maxSigma,meanSigma
8,2,AH03_J0748+26.9,Dias+02,position,0.02773,0.189541,0.831918,0.189541,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,50,ASCC_100,Dias+02,position,0.03096,0.010619,0.099860,0.010619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,51,ASCC_101,Dias+02,position,0.05648,0.018600,0.156883,0.018600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,2145,ASCC_104,Dias+02,position,0.15070,0.302126,0.313899,0.302126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,52,ASCC_104,Dias+02,position,0.07506,0.051464,0.156374,0.051464,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29924,7164,vdBergh_113,Dias+02,position,0.02870,0.062091,0.245980,0.062091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29930,7166,vdBergh_152,Dias+02,position,0.07382,0.104022,0.354355,0.104022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29932,7160,vdBergh_80,Dias+02,position,0.03122,0.029089,0.312177,0.029089,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29936,7161,vdBergh_83,Dias+02,position,0.13490,0.181712,0.647546,0.181712,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29941,7162,vdBergh_85,Dias+02,position,0.01030,0.025379,0.308965,0.025379,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
#remove duplicates
dias_xmnodup = dias_xm.drop_duplicates(subset=['ID'], inplace=False) 
dias_xmnodup

,ID,NameLit,SourceCat,TypeSourceCat,Sep,SepTidal,SepTidalLit,SepTidalData,pmRASep,pmRASigma,pmDESep,pmDESigma,PlxSep,PlxSigma,maxSigma,meanSigma
8,2,AH03_J0748+26.9,Dias+02,position,0.02773,0.189541,0.831918,0.189541,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,50,ASCC_100,Dias+02,position,0.03096,0.010619,0.099860,0.010619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,51,ASCC_101,Dias+02,position,0.05648,0.018600,0.156883,0.018600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,2145,ASCC_104,Dias+02,position,0.15070,0.302126,0.313899,0.302126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,52,ASCC_104,Dias+02,position,0.07506,0.051464,0.156374,0.051464,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29924,7164,vdBergh_113,Dias+02,position,0.02870,0.062091,0.245980,0.062091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29930,7166,vdBergh_152,Dias+02,position,0.07382,0.104022,0.354355,0.104022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29932,7160,vdBergh_80,Dias+02,position,0.03122,0.029089,0.312177,0.029089,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29936,7161,vdBergh_83,Dias+02,position,0.13490,0.181712,0.647546,0.181712,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29941,7162,vdBergh_85,Dias+02,position,0.01030,0.025379,0.308965,0.025379,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
#sort out globular clusters in hunt file
hunt_oc = hunt.loc[hunt['Type'] == 'o']

In [22]:
#merge
diashunt = pd.merge(dias_xmnodup, hunt_oc, on= 'ID', how='inner')
diashunt

combonames = np.asarray(diashunt.NameLit)

np.where(combonames == diasnamearr)

<ipython-input-22-448d94723aeb>:7: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
  np.where(combonames == diasnamearr)

(array([], dtype=int64),)

In [23]:
#merge on names

allnamemerge = pd.merge(diashunt, dias, left_on= 'NameLit', right_on='Cluster', how='inner' )
allnamemerge

Empty DataFrame
Columns: [ID, NameLit, SourceCat, TypeSourceCat, Sep, SepTidal, SepTidalLit, SepTidalData, pmRASep, pmRASigma, pmDESep, pmDESigma, PlxSep, PlxSigma, maxSigma, meanSigma, Name, AllNames, Type, CST, N, CSTt, Nt, RAdeg, DEdeg, GLON, GLAT, r50, rc, rt, rtot, r50pc, rcpc, rtpc, rtotpc, pmRA_x, s_pmRA, e_pmRA_x, pmDE_x, s_pmDE, e_pmDE_x, Plx, s_Plx, e_Plx, dist16, dist50, dist84, Ndist, globalPlx, X, Y, Z, RV_x, s_RV, e_RV_x, n_RV, CMDCl2.5, CMDCl16, CMDCl50, CMDCl84, CMDCl97.5, CMDClHuman, logAge16, logAge50, logAge84, AV16, AV50, AV84, diffAV16, diffAV50, diffAV84, MOD16, MOD50, MOD84, minClSize, isMerged, isGMMMemb, NXmatches, XmatchType, Cluster, RAh, RAm, RAs, DE-, DEd, DEm, DEs, Class, Diam, Dist, E(B-V), Age, pmRA_y, e_pmRA_y, pmDE_y, e_pmDE_y, Nc, r_pmRA, RV_y, e_RV_y, ...]
Index: []

[0 rows x 106 columns]