In [2]:
# from astropy.io import fits
import numpy as np
import matplotlib.pyplot as plt
from astropy.io import fits
from matplotlib.ticker import (MultipleLocator, AutoMinorLocator)
import pandas as pd

hunt = pd.read_csv('Data\\Hunt\\huntfile.csv')
khar = pd.read_csv('Data\\Kharchenko\\kharchenkofile.csv')
dias = pd.read_csv('Data\\Dias\\diasfile.csv')
xmatch = pd.read_csv('Data\\Hunt\\xmatchfile.csv')

"""In case you want to use fits files"""
# def datahandler(filename):
#     authorname = filename.split('\\')
#     hdul = fits.open(filename)
#     hdr1 = hdul[0].header #first and second header
#     hdr2 = hdul[1].header
#     data, cols = hdul[1].data, hdul[1].columns
#     metadata = [ [ hdr2[f"TTYPE{i+1}"], hdr2.comments[f"TTYPE{i+1}"] ] for i, j in enumerate(cols.names) ]
#     # mydict[authorname]['hdul'] = hdul
#     return hdul[1].data, hdul[1].columns, metadata

hunt

,Name,ID,AllNames,Type,CST,N,CSTt,Nt,RAdeg,DEdeg,...,diffAV50,diffAV84,MOD16,MOD50,MOD84,minClSize,isMerged,isGMMMemb,NXmatches,XmatchType
0,1636-283,0,"1636-283,C1636-283,ESO_452-11,MWSC_2436",o,8.106141,38,8.794951,32,249.855743,-28.399194,...,1.471477,1.946265,13.771433,14.001991,14.187698,20,0,0,2,1:m
1,ADS_16795,1,"ADS_16795,AR_Cas",o,6.832199,41,6.832199,41,352.592165,58.553413,...,0.470770,0.693890,6.491674,6.649982,6.814627,40,0,0,1,1:1
2,AH03_J0748+26.9,2,"AH03_J0748+26.9,AH03_J0748-26.9,AH03_J0748_26....",o,11.585524,68,11.781309,66,117.155887,-26.972679,...,1.079003,1.455453,13.326923,13.521471,13.707494,10,0,0,2,1:m
3,ASCC_5,3,"ASCC_5,MWSC_93",o,8.316422,25,8.316422,25,14.469082,55.829174,...,0.723468,1.067812,11.046813,11.212086,11.370137,10,0,0,1,1:1
4,ASCC_6,4,"ASCC_6,MWSC_141,Theia_2326",o,19.258570,209,19.258570,209,26.842159,57.738607,...,0.757964,1.104530,10.703223,10.890650,11.055896,80,0,0,2,1:m
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7162,vdBergh_85,7162,vdBergh_85,o,11.847597,105,11.847597,105,101.720134,1.324256,...,2.159117,2.505461,10.931759,11.125109,11.264691,80,0,0,1,1:1
7163,vdBergh_92,7163,vdBergh_92,o,21.995554,345,21.995554,345,106.036502,-11.442338,...,2.381747,2.710961,10.040602,10.191625,10.338547,40,0,0,1,m:1
7164,vdBergh_113,7164,"UBC_1005,UFMG_84,vdBergh_113",o,15.770199,163,15.829355,152,272.165492,-21.441478,...,2.649548,2.985685,10.599004,10.748435,10.885481,80,0,0,3,1:m
7165,vdBergh_130,7165,vdBergh_130,o,11.430369,162,12.842494,131,304.517447,39.366647,...,2.574298,2.929418,10.996379,11.143586,11.296269,80,0,0,1,1:1
7166,vdBergh_152,7166,"OCSN_37,PTB_3,vdBergh_152",o,7.825618,25,7.825618,25,333.362827,70.176291,...,0.700407,0.966768,7.602933,7.762949,7.912142,20,0,0,3,1:m

### Getting Kharchenko numbers
Kharchenko clusters: $n_\mathrm{clusters}=2935 $, $n_\mathrm{detected}= 1513 \newline$ 
Steps:
1. Get Kharchenko from crossmatch table
2. Remove records with Sep (seperation between cluster centres) == NaN
3. Check if crossmatched kharchenko

In [104]:
kharchenko_xm = xmatch.query('SourceCat == "Kharchenko+13"').dropna(subset='Sep') #Get crossmatch table with seperation=NaN removed

kharchenko_names_oc = khar.query('Type != "g"').Name #get clusters names from kharchenko data with type is not 'g'=globular
print(f'There are {len(kharchenko_names_oc)} clusters in the kharchenko catalogue with type != "g"')

IDs_xmatch = kharchenko_xm.ID
IDs_hunt = hunt.ID
cross = np.in1d(IDs_hunt, IDs_xmatch)
cross2 = np.in1d(IDs_xmatch, IDs_hunt)
poep1 = hunt[cross].query('Type == "o"')
IDs_poep = poep1.ID

print(np.in1d(kharchenko_xm[cross2].Name, ))

print(IDs_poep)

There are 2859 clusters in the kharchenko catalogue with type != "g"
0          0
2          2
3          3
4          4
5          5
        ...
7162    7162
7163    7163
7164    7164
7165    7165
7166    7166
Name: ID, Length: 1540, dtype: int64

In [86]:
for j in np.unique(kharchenko_xm.query('ID == @i')['NameLit']):
    if j in kharchenko_names_oc:
        print(j)

In [39]:
c = 0

for i in np.unique(kharchenko_xm['ID']):
    if i > 7166: continue
    type_object = hunt.query('ID == @i')['Type'][hunt.query('ID == @i').index[0]]
    if type_object == 'o': 
        for j in np.unique(kharchenko_xm.query('ID == @i')['NameLit'])[0:1]:
            if j in khar_ocs:
                c = c + 1

print(c)

0

0       Berkeley_58
1          NGC_7801
2          FSR_0459
3          Stock_18
4       Berkeley_59
           ...
3001       Frolov_1
3002       NGC_7790
3003       NGC_7795
3004       FSR_0460
3005       NGC_7762
Name: Name, Length: 2859, dtype: object

## Comparing catalogues

The goal now is to get the correct clusters from the Kharchenko, Dias and CanatGaudin catalogues with respect to the Hunt paper. Pretty much recreate the table 4 from the hunt paper. We want to cross match the catalogues. We first want to find the $n_\mathrm{clusters}$ for each catalogue.

In [5]:
poop = [48, 84, 26, 50, 27, 59]
poop[0,3,2]

TypeError: list indices must be integers or slices, not tuple

In [ ]:
#getting ocs from kharchenko
mask_khar = (data_khar['Type']!='a') & (data_khar['Type'] != 'm') & (data_khar['Type'] != 's')
khar_ocs = data_khar[mask_khar]

print(f"The amount of clusters in the Kharchenko catalogue is indeed {len(khar_ocs)}")

#significant cluster from hunt 
# mask_hunt = data_hunt['CST'] >5
# print(f"Amount of significant cluster is {len(data_hunt[mask_hunt])}")

The amount of clusters in the Kharchenko catalogue is indeed 2935

WARNING: VerifyWarning: It is strongly recommended that column names contain only upper and lower-case ASCII letters, digits, or underscores for maximum compatibility with other software (got '[Fe/H]'). [astropy.io.fits.column]

In [ ]:
all_names = np.concatenate([name.split(',') for name in data_hunt['AllNames']]) #get all names from hunt file

cross = np.in1d(list(khar_ocs['Name']), all_names) #intersect hunt all names and kharchenko files
np.unique(khar_ocs[cross]['Name'])

print(f"The amount to found Kharchenko OCs are {len(np.unique(khar_ocs[cross]['Name']))} != 1513 as in the paper")

The amount to found Kharchenko OCs are 1538 != 1513 as in the paper